.patern {
  /* background-color: rgb(166, 221, 184); */
  position: absolute;
  left: -18.24%;
  right: 21.31%;
  top: 9.18%;
  bottom: -1.53%;
}

.rectangle_38 {
  box-sizing: border-box;
  width: 300px;
  height: 100px;
  /* background-color: brown; */
  position: absolute;
  rotate: -15deg;
  z-index: 2;
  left: 8%;
  right: -20.78%;
  top: 4.18%;
  bottom: 67.62%;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.rectangle_09 {
  /* Rectangle 9 */

  /* Rectangle 9 */

  position: absolute;
  left: 107.62%;
  right: -24%;
  top: 9.68%;
  bottom: 83.3%;
  rotate: -7deg;
  z-index: 1;
  background: linear-gradient(
    277.47deg,
    rgba(0, 151, 254, 0) 8.72%,
    rgba(0, 151, 254, 0.86) 95.5%
  );
}

.rectangle_08 {
  position: absolute;
  left: 19.11%;
  right: 50.82%;
  top: 86.19%;
  bottom: -3.21%;
  z-index: 1;
  rotate: -8deg;
  background: linear-gradient(
    277.47deg,
    rgba(0, 151, 254, 0) 8.72%,
    rgba(0, 151, 254, 0.86) 91.5%
  );
  transform: rotate(2.05deg);
}

.rectangle_10 {
  position: absolute;
  left: 72.11%;
  right: -22.36%;
  top: 15.51%;
  bottom: 36.85%;
  z-index: 1;
  background: linear-gradient(
    277.47deg,
    rgba(0, 151, 254, 0.08) 8.72%,
    rgba(0, 151, 254, 0.04) 91.5%
  );
}
