.card {
  /* Card Integrations */

  /* Auto layout */
  align-items: center;
  padding: 24px;
  isolation: isolate;
  position: relative;
  overflow: hidden;

  width: 284px;
  height: 240px;
  margin-top: 15px;

  /* Neutral/White */
  background: white;
  border-radius: 10px;
}

.rectangle_43 {
  /* Rectangle 43 */

  box-sizing: border-box;

  position: absolute;
  width: 180px;
  height: 62px;
  left: 221px;
  top: 40px;
  rotate: -10deg;
  z-index: 1;

  opacity: 0.2;
  /* Blue/Blue */
  border: 1px solid #0097fe;
  /* background-color: tomato; */
}

.rectangle_62 {
  position: absolute;
  width: 707px;
  height: 120px;
  left: -348px;
  top: 0px;
  background: #ebf7ff;
  border-radius: 10px 10px 0px 0px;
  rotate: -10deg;
  z-index: -1;
}

.content {
  /* Content */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 236px;
  height: 192px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 10;
  /* background-color: tan; */
}

.icon {
  /* Icon */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;

  width: 64px;
  height: 64px;

  background: #006eea;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text {
  /* Text */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 236px;
  height: 104px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.heading {
  /* Google */

  width: 109px;
  height: 26px;

  /* Heading Desktop/H4 */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 110%;
  /* or 26px */
  text-align: center;
  letter-spacing: -0.01em;

  /* Blue/Dark Blue */
  color: #006fba;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title {
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus dui faucibus eu. */

  width: 236px;
  height: 66px;

  /* Body/Medium/Regular */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 90;
  font-size: 17px;
  letter-spacing: 0.2px;
  line-height: 140%;
  padding: 1px;
  /* or 22px */
  text-align: center;

  /* Neutral/Grey */
  color: #68718b;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
